/********************/
/*   Base Styles    */
/*------------------*/
body {

}
* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.row {
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
}
.menuBox {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  background-color: #A4A4A4;
  overflow: hidden;
  position: relative;
}
.menuItemName {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border: 2px solid black;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.menuContents {
  padding-top: 25px;
  font-weight: bold;
//  min-height: 200px;
  height: 150px;
}
.chicken {
  background-color: #d98179;
}
.beef {
  color: white;
  background-color: #9c2e1f;
}
.sushi {
  background-color: #d9ca79;
}

/********************/
/*   Media Queries  */
/*------------------*/
/*   Desktop: 3-column 33.3% each   */
@media (min-width: 992px){
  .col-desktop-third {
    float: left;
  //  border: 1px solid black;
    width: 33.33%;
  }
  .chicken, .beef, .sushi {
    width: 40%;
  }
}
/*   Tablets: 1st row 2-column 50% width each, 2nd row 1-column 100% width   */
@media (min-width: 768px) and (max-width: 991px){
  .col-tablet-fourth, .col-tablet-half, .col-tablet-full {
    float: left;
//    border: 1px solid black;
  }
  .col-tablet-fourth {
    width: 25%;
  }
  .col-tablet-half {
    width: 50%;
  }
  .col-tablet-full {
    width: 100%;
  }
  .chicken, .beef {
    width: 40%;
  }
  .sushi {
    width: 20%;
  }
}
/*   Mobile phones: 3 rows 1-column 100% each */
@media (max-width: 767px){
  .col-phone-full {
    float: left;
    clear: left;
//    border: 1px solid black;
    width: 100%;
  }
  .chicken, .beef, .sushi {
    width: 40%;
  }
}
